[submodule "smartphone"]
	path = smartphone
	url = https://github.com/PhHagel/SmartphoneEntwicklung.git
[submodule "speech_recognition"]
	path = speech_recognition
	url = https://github.com/AnelD/speech_recognition.git
[submodule "EV3"]
	path = EV3
	url = https://github.com/AlisaxK/EV3
